<!doctype html>
<html lang="en">
<!-- index-235:58-->
<head>
    <!-- Basic Page Needs==================================================-->
    <title>Job Stock - Responsive Job Portal Bootstrap Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS==================================================-->
    <link rel="stylesheet" href="/user/plugins/css/plugins.css">
    <link href="/user/css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" id="jssDefault" href="/user/css/colors/green-style.css">





    {{!-- fddddddfffffffffffffff --}}


          <link rel="icon" type="image/png" sizes="32x32" href="/employer1/assets/img/favicon/favicon-32x32.png">
      <!--Bootstrap css-->
      {{!-- <link rel="stylesheet" href="/employer1/assets/css/bootstrap.css">
      <!--Font Awesome css-->
      <link rel="stylesheet" href="/employer1/assets/css/font-awesome.min.css">
      <!--Magnific css-->
      <link rel="stylesheet" href="/employer1/assets/css/magnific-popup.css">
      <!--Owl-Carousel css-->
      <link rel="stylesheet" href="/employer1/assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/employer1/assets/css/owl.theme.default.min.css">
      <!--Animate css-->
      <link rel="stylesheet" href="/employer1/assets/css/animate.min.css">
      <!--Select2 css-->
      <link rel="stylesheet" href="/employer1/assets/css/select2.min.css"> --}}
      <!--Slicknav css-->
      <link rel="stylesheet" href="/employer1/assets/css/slicknav.min.css">
      <!--Bootstrap-Datepicker css-->
      <link rel="stylesheet" href="/employer1/assets/css/bootstrap-datepicker.min.css">
      <!--Jquery UI css-->
      <link rel="stylesheet" href="/employer1/assets/css/jquery-ui.min.css">
      <!--Perfect-Scrollbar css-->
      <link rel="stylesheet" href="/employer1/assets/css/perfect-scrollbar.min.css">
      <!--Site Main Style css-->
      <link rel="stylesheet" href="/employer1/assets/css/style.css">
      <!--Responsive css-->
      <link rel="stylesheet" href="/employer1/assets/css/responsive.css">





</head>
<body>
<div class="Loader"></div>
<div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                    class="fa fa-bars"></i></button>
            <div class="navbar-header"><a class="navbar-brand" href="index-2.html"><img src="/user/img/logo.png"
                                                                                        class="logo logo-scrolled"
                                                                                        alt=""></a></div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="active"><input type="text" class="form-control" placeholder="Find Freelancer"></li>
                    <li class="dropdown megamenu-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brows</a>
                        <ul class="dropdown-menu megamenu-content" role="menu">
                            <li>
                                <div class="row">
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Main Pages</h6>

                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="index-2.html">Home Page 1</a></li>
                                                <li><a href="index-3.html">Home Page 2</a></li>
                                                <li><a href="index-4.html">Home Page 3</a></li>
                                                <li><a href="index-5.html">Home Page 4</a></li>
                                                <li><a href="index-6.html">Home Page 5</a></li>
                                                <li><a href="freelancing.html">Freelancing</a></li>
                                                <li><a href="signin-signup.html">Sign In / Sign Up</a></li>
                                                <li><a href="search-job.html">Search Job</a></li>
                                                <li><a href="accordion.html">Accordion</a></li>
                                                <li><a href="tab.html">Tab Style</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">For Candidate</h6>

                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="browse-jobs.html">Browse Jobs</a></li>
                                                <li><a href="browse-company.html">Browse Companies</a></li>
                                                <li><a href="create-resume.html">Create Resume</a></li>
                                                <li><a href="resume-detail.html">Resume Detail</a></li>
                                                <li><a href="#">Manage Jobs</a></li>
                                                <li><a href="job-detail.html">Job Detail</a></li>
                                                <li><a href="browse-jobs-grid.html">Job In Grid</a></li>
                                                <li><a href="candidate-profile.html">Candidate Profile</a></li>
                                                <li><a href="manage-resume-2.html">Manage Resume 2</a></li>
                                                <li><a href="company-detail.html">Company Detail</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">For Employer</h6>

                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="create-job.html">Create Job</a></li>
                                                <li><a href="create-company.html">Create Company</a></li>
                                                <li><a href="manage-company.html">Manage Company</a></li>
                                                <li><a href="manage-candidate.html">Manage Candidate</a></li>
                                                <li><a href="manage-employee.html">Manage Employee</a></li>
                                                <li><a href="browse-resume.html">Browse Resume</a></li>
                                                <li><a href="search-new.html">New Search Job</a></li>
                                                <li><a href="employer-profile.html">Employer Profile</a></li>
                                                <li><a href="manage-resume.html">Manage Resume</a></li>
                                                <li><a href="new-job-detail.html">New Job Detail</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-menu col-md-3">
                                        <h6 class="title">Extra Pages <span class="new-offer">New</span></h6>

                                        <div class="content">
                                            <ul class="menu-col">
                                                <li><a href="freelancer-detail.html">Freelancer detail</a></li>
                                                <li><a href="job-apply-detail.html">New Apply Job</a></li>
                                                <li><a href="payment-methode.html">Payment Methode</a></li>
                                                <li><a href="new-login-signup.html">New LogIn / SignUp</a></li>
                                                <li><a href="freelancing-jobs.html">Freelancing Jobs</a></li>
                                                <li><a href="freelancers.html">Freelancers</a></li>
                                                <li><a href="freelancers-2.html">Freelancers 2</a></li>
                                                <li><a href="premium-candidate.html">Premium Candidate</a></li>
                                                <li><a href="premium-candidate-detail.html">Premium Candidate Detail</a>
                                                </li>
                                                <li><a href="blog-detail.html">Blog detail</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>SignUp</a></li>
                    <li><a href="pricing.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>
                    <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup"
                                           class="signin">Sign In Now</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>



          {{!-- <!-- Header Area Start -->
      <header class="jobguru-header-area stick-top forsticky page-header">
         <div class="menu-animation">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-2">
                     <div class="site-logo">
                        <a href="index-2.html">
                        <img src="/employer1/assets/img/logo-2.png" alt="jobguru" />
                        </a>
                     </div>
                     <!-- Responsive Menu Start -->
                     <div class="jobguru-responsive-menu"></div>
                     <!-- Responsive Menu Start -->
                  </div>
                  <div class="col-lg-6">
                     <div class="header-menu">
                        <nav id="navigation">
                           <ul id="jobguru_navigation">
                              <li class="active has-children">
                                 <a href="#">home</a>
                                 <ul>
                                    <li><a href="index-2.html">Home 1</a></li>
                                    <li><a href="index-3.html">Home 2</a></li>
                                 </ul>
                              </li>
                              <li class=" has-children">
                                 <a href="#">for candidates</a>
                                 <ul>
                                    <li class="has-inner-child">
                                       <a href="#">browse jobs</a>
                                       <ul>
                                          <li><a href="browse-jobs.html">full page grid</a></li>
                                          <li><a href="job-grid-sidebar.html">grid sidebar</a></li>
                                          <li><a href="job-list-sidebar.html">list sidebar</a></li>
                                       </ul>
                                    </li>
                                    <li><a href="browse-categories.html">Browse Categories</a></li>
                                    <li><a href="browse-companies.html">browse companies</a></li>
                                    <li><a href="single-candidates.html">candidates details</a></li>
                                    <li><a href="submit-resume.html">submit resume</a></li>
                                    <li class="has-inner-child">
                                       <a href="#">candidate dashboard</a>
                                       <ul>
                                          <li><a href="candidate-dashboard.html">Candidate dashboard</a></li>
                                          <li><a href="candidate-profile.html">Candidate profile</a></li>
                                          <li><a href="message.html">messages</a></li>
                                          <li><a href="manage-jobs.html">manage jobs</a></li>
                                          <li><a href="candidate-earnings.html">earnings</a></li>
                                          <li><a href="change-password.html">change password</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                              <li class="has-children">
                                 <a href="#">for employers</a>
                                 <ul>
                                    <li><a href="browse-candidates.html">Browse Candidates</a></li>
                                    <li><a href="single-company.html">company details</a></li>
                                    <li><a href="post-job.html">Post A job</a></li>
                                    <li class="has-inner-child">
                                       <a href="#">employer dashboard</a>
                                       <ul>
                                          <li><a href="employer-dashboard.html">employer dashboard</a></li>
                                          <li><a href="company-profile.html">company profile</a></li>
                                          <li><a href="message.html">messages</a></li>
                                          <li><a href="manage-candidates.html">manage candidates</a></li>
                                          <li><a href="transaction.html">transaction</a></li>
                                          <li><a href="change-password.html">change password</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                              <li class="has-children">
                                 <a href="#">pages</a>
                                 <ul>
                                    <li><a href="about.html">About us</a></li>
                                    <li class="has-inner-child">
                                       <a href="#">blog</a>
                                       <ul>
                                          <li><a href="blog.html">blog</a></li>
                                          <li><a href="single-blog.html">single blog</a></li>
                                       </ul>
                                    </li>
                                    <li><a href="job-page.html">job page</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="register.html">register</a></li>
                                    <li><a href="contact.html">contact us</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="header-right-menu">
                        <ul>
                           <li><a href="post-job.html" class="post-jobs">Post jobs</a></li>
                           <li><a href="register.html"><i class="fa fa-user"></i>sign up</a></li>
                           <li><a href="login.html"><i class="fa fa-lock"></i>login</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- Header Area End --> --}}
       
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Submit resume</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">candidates</a></li>
                           <li class="active-breadcromb"><a href="#">Submit resume</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Submit Resume Area Start -->
      <section class="jobguru-submit-resume-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="submit-resume-box">
                     <form>
                        <div class="resume-box">
                           <div class="single-resume-feild resume-avatar">
                              <div class="resume-image">
                                 <img src="/employer1/assets/img/resume-avatar.jpg" alt="resume avatar" />
                                 <div class="resume-avatar-hover">
                                    <div class="resume-avatar-upload">
                                       <p>
                                          <i class="fa fa-upload"></i>
                                          upload
                                       </p>
                                       <input type="file">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <h3>Personal Information</h3>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="name">Your Name:</label>
                                 <input type="text" placeholder="Your Full Name" id="name">
                              </div>
                              <div class="single-input">
                                 <label for="p_title">Professional title:</label>
                                 <input type="text" placeholder="e.g Web Developer" id="p_title">
                              </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="Email">Email:</label>
                                 <input type="email" placeholder="Your Email Address" id="Email">
                              </div>
                              <div class="single-input">
                                 <label for="Phone">Phone:</label>
                                 <input type="tel" placeholder="Phone Number" id="Phone">
                              </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="Region">Country:</label>
                                 <select id="Region">
                                    <option selected>select Country</option>
                                    <option>Arab Amirats</option>
                                    <option>America</option>
                                    <option>Netherlands</option>
                                    <option>Russia</option>
                                    <option>Bangladesh</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Brazil</option>
                                    <option>Africa</option>
                                 </select>
                              </div>
                              <div class="single-input">
                                 <label for="Address">Address:</label>
                                 <input type="text" placeholder="Street Address" id="Address">
                              </div>
                           </div>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="Bio">Introduce Yourself:</label>
                                 <textarea id="Bio" placeholder="Write Your Bio Here..."></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="resume-box">
                           <h3>Education</h3>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="Degree">Degree:</label>
                                 <input type="text" placeholder="Degree's Title" id="Degree">
                              </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="datepicker_form">From:</label>
                                 <input type="text" placeholder="02.10.2015" id="datepicker_form" class="datepicker">
                              </div>
                              <div class="single-input">
                                 <label for="datepicker_to">To:</label>
                                 <input type="text" placeholder="06.11.2017" id="datepicker_to" class="datepicker">
                              </div>
                           </div>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="Institute"> Institute:</label>
                                 <input type="text" placeholder="Institution Name" id="Institute">
                              </div>
                           </div>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="edu_info">Additional Information: <span>(optional)</span></label>
                                 <textarea id="edu_info" placeholder="Education Experience Brief"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="resume-box">
                           <h3>Work Experience</h3>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="j_post">Job Post:</label>
                                 <input type="text" placeholder="Job Post Title" id="j_post">
                              </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="datepicker_form2">From:</label>
                                 <input type="text" placeholder="02-10-2015" id="datepicker_form2" class="datepicker">
                              </div>
                              <div class="single-input">
                                 <label for="datepicker_to2">To:</label>
                                 <input type="text" placeholder="06-11-2017" id="datepicker_to2" class="datepicker">
                              </div>
                           </div>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="Company"> Company:</label>
                                 <input type="text" placeholder="Company Name" id="Company">
                              </div>
                           </div>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="work_info">Additional Information: <span>(optional)</span></label>
                                 <textarea id="work_info" placeholder="Work Experience Brief"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="resume-box">
                           <h3>Skills & Portfolio</h3>
                           <div class="single-resume-feild ">
                              <div class="single-input">
                                 <label for="skill">Skills:</label>
                                 <input type="text" placeholder="Comma separate a list of relevant skills" id="skill">
                              </div>
                           </div>
                           <div class="single-resume-feild feild-flex-2">
                              <div class="single-input">
                                 <label for="Portfolio">Portfolio:</label>
                                 <input type="text" placeholder="Portfolio Demo URL" id="Portfolio">
                              </div>
                              <div class="single-input">
                                 <label for="w_screen">Works Screenshot</label>
                                 <div class="product-upload">
                                    <p>
                                       <i class="fa fa-upload"></i>
                                       Max file size is 3MB,Suitable files are .jpg & .png
                                    </p>
                                    <input type="file" id="w_screen">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="submit-resume">
                           <button type="submit">Save Resume</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Submit Resume Area End -->















    <footer class="footer">
        <div class="row lg-menu">
            <div class="container">
                <div class="col-md-4 col-sm-4"><img src="assets/img/footer-logo.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-8 co-sm-8 pull-right">
                    <ul>
                        <li><a href="index-2.html" title="">Home</a></li>
                        <li><a href="blog.html" title="">Blog</a></li>
                        <li><a href="404.html" title="">404</a></li>
                        <li><a href="faq.html" title="">FAQ</a></li>
                        <li><a href="contact.html" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-padding">
            <div class="container">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">About Job Stock</h3>

                        <div class="textwidget">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>

                            <p>7860 North Park Place<br>San Francisco, CA 94120</p>

                            <p><strong>Email:</strong> Support@careerdesk</p>

                            <p><strong>Call:</strong> <a href="tel:+15555555555">555-555-1234</a></p>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">All Navigation</h3>

                        <div class="textwidget">
                            <div class="textwidget">
                                <ul class="footer-navigation">
                                    <li><a href="manage-company.html" title="">Front-end Design</a></li>
                                    <li><a href="manage-company.html" title="">Android Developer</a></li>
                                    <li><a href="manage-company.html" title="">CMS Development</a></li>
                                    <li><a href="manage-company.html" title="">PHP Development</a></li>
                                    <li><a href="manage-company.html" title="">IOS Developer</a></li>
                                    <li><a href="manage-company.html" title="">Iphone Developer</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">All Categories</h3>

                        <div class="textwidget">
                            <ul class="footer-navigation">
                                <li><a href="manage-company.html" title="">Front-end Design</a></li>
                                <li><a href="manage-company.html" title="">Android Developer</a></li>
                                <li><a href="manage-company.html" title="">CMS Development</a></li>
                                <li><a href="manage-company.html" title="">PHP Development</a></li>
                                <li><a href="manage-company.html" title="">IOS Developer</a></li>
                                <li><a href="manage-company.html" title="">Iphone Developer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">Connect Us</h3>

                        <div class="textwidget">
                            <form class="footer-form"><input type="text" class="form-control" placeholder="Your Name">
                                <input type="text" class="form-control" placeholder="Email"><textarea
                                        class="form-control" placeholder="Message"></textarea>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tab" role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign
                                In</a></li>
                            <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
                        </ul>
                        <div class="tab-content" id="myModalLabel2">
                            <div role="tabpanel" class="tab-pane fade in active" id="login">
                                <img src="assets/img/logo.png" class="img-responsive" alt=""/>

                                <div class="subscribe wow fadeInUp">
                                    <form class="form-inline" method="post">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control"
                                                       placeholder="Username" required=""><input type="password"
                                                                                                 name="password"
                                                                                                 class="form-control"
                                                                                                 placeholder="Password"
                                                                                                 required="">

                                                <div class="center">
                                                    <button type="submit" id="login-btn" class="submit-btn"> Login
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="register">
                                <img src="assets/img/logo.png" class="img-responsive" alt=""/>

                                <form class="form-inline" method="post">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" name="email" class="form-control" placeholder="Your Name"
                                                   required=""><input type="email" name="email" class="form-control"
                                                                      placeholder="Your Email" required=""><input
                                                type="email" name="email" class="form-control" placeholder="Username"
                                                required=""><input type="password" name="password" class="form-control"
                                                                   placeholder="Password" required="">

                                            <div class="center">
                                                <button type="submit" id="subscribe" class="submit-btn"> Create
                                                    Account
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin fa fa-cog"
                                                                                      aria-hidden="true"></i></button>
    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
        <ul id="styleOptions" title="switch styling">
            <li><a href="javascript: void(0)" class="cl-box blue" data-theme="colors/blue-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box red" data-theme="colors/red-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box purple" data-theme="colors/purple-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box green" data-theme="colors/green-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box dark-red" data-theme="colors/dark-red-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box orange" data-theme="colors/orange-style"></a></li>
            <li><a href="javascript: void(0)" class="cl-box sea-blue" data-theme="colors/sea-blue-style "></a></li>
            <li><a href="javascript: void(0)" class="cl-box pink" data-theme="colors/pink-style"></a></li>
        </ul>
    </div>
    <!-- Scripts==================================================-->
    <script type="text/javascript" src="/user/plugins/js/jquery.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/viewportchecker.js"></script>
    <script type="text/javascript" src="/user/plugins/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/bootsnav.js"></script>
    <script type="text/javascript" src="/user/plugins/js/select2.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/user/plugins/js/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="/user/plugins/js/datedropper.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/dropzone.js"></script>
    <script type="text/javascript" src="/user/plugins/js/loader.js"></script>
    <script type="text/javascript" src="/user/plugins/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/slick.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/gmap3.min.js"></script>
    <script type="text/javascript" src="/user/plugins/js/jquery.easy-autocomplete.min.js"></script>
    <script src="/user/js/custom.js"></script>
    <script src="/user/js/jQuery.style.switcher.js"></script>
    <script type="text/javascript">$(document).ready(function () {
        $('#styleOptions').styleSwitcher();
    });</script>
    <script>function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }</script>
</div>
</body>
<!-- index-236:28-->
</html>