

       
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Login</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">pages</a></li>
                           <li class="active-breadcromb"><a href="#">Login</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Login Area Start -->
      <section class="jobguru-login-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3">
                  <div class="login-box">
                     <div class="login-title">
                        <h3>Sign in</h3>
                     </div>
                     <form id="loginform">
                        <div class="single-login-field">
                           <input type="email" name="email" required placeholder="Email Address">
                        </div>
                        <div class="single-login-field">
                           <input type="password" name="password" required placeholder="Password">
                        </div>
                        <div class="remember-row single-login-field clearfix">
                           {{!-- <p class="checkbox remember">
                              <input class="checkbox-spin" type="checkbox" id="Freelance">
                              <label for="Freelance"><span></span>Keep Me Signed In</label>
                           </p> --}}
                           {{!-- <p class="lost-pass">
                              <a href="#">forgot password?</a>
                           </p> --}}
                        </div>
                        <div class="single-login-field">
                           <button type="submit">Sign in</button>
                        </div>
                     </form>
                     <div class="dont_have">
                        <a href="/employer/registerEmployer">Don't have an account?</a>
                     </div>
                        <div class="u-s-m-b-30"  id="invalidemailandmob">
                         <span class="invalid" style="color:red;" id="invalidlogin"></span>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Login Area End -->
       
       




            <script>
                    const $form = $('#loginform')
                    $form.on('submit', submitHandler)
                    function submitHandler (e) {
                         e.preventDefault()
                         console.log('hiiiiiii')
                        $.ajax({
                                url: '/employer',
                                type:'POST',
                                data: $form.serialize()
                        }).done(response=>{
                            console.log(response)

                            if(response.invalidemployer==true){
                                 document.getElementById('invalidlogin').innerHTML='Invalid user details'
                            }else if(response.validUser==true){
                                window.location = '/employer/home'
                            }
                        })
                    }
            </script>

