<!DOCTYPE html>
<html lang="en-US">
   
<!-- Mirrored from themescare.com/demos/jobguru-version-2/post-job.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Jul 2021 07:35:07 GMT -->
<head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="jobguru | Job Board HTML Templates from Themescare">
      <meta name="keyword" content="Job, freelancer, employee, marketplace">
      <meta name="author" content="Themescare">
      <!-- Title -->
      <title>jobguru</title>
      <!-- Favicon -->
      <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
      <!--Bootstrap css-->
      <link rel="stylesheet" href="assets/css/bootstrap.css">
      <!--Font Awesome css-->
      <link rel="stylesheet" href="assets/css/font-awesome.min.css">
      <!--Magnific css-->
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <!--Owl-Carousel css-->
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
      <!--Animate css-->
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <!--Select2 css-->
      <link rel="stylesheet" href="assets/css/select2.min.css">
      <!--Slicknav css-->
      <link rel="stylesheet" href="assets/css/slicknav.min.css">
      <!--Bootstrap-Datepicker css-->
      <link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
      <!--Jquery UI css-->
      <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
      <!--Perfect-Scrollbar css-->
      <link rel="stylesheet" href="assets/css/perfect-scrollbar.min.css">
      <!--Site Main Style css-->
      <link rel="stylesheet" href="assets/css/style.css">
      <!--Responsive css-->
      <link rel="stylesheet" href="assets/css/responsive.css">
   </head>


   <body>
       
       

       
       
      <!-- Breadcromb Area Start -->
      <section class="jobguru-breadcromb-area">
         <div class="breadcromb-top section_100">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box">
                        <h3>Post A job</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="breadcromb-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="breadcromb-box-pagin">
                        <ul>
                           <li><a href="#">home</a></li>
                           <li><a href="#">Employeer</a></li>
                           <li class="active-breadcromb"><a href="#">Post A job</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcromb Area End -->
       
       
      <!-- Candidate Dashboard Area Start -->
      <section class="candidate-dashboard-area section_70">
         <div class="container">
            <div class="row">

               <div class="col-md-4 col-lg-3 dashboard-left-border">
                  <div class="dashboard-left">
                     <ul class="dashboard-menu">
                        <li>
                           <a href="/employer/home">
                           <i class="fa fa-tachometer"></i>
                           Dashboard
                           </a>
                        </li>
                        <li ><a href="/employer/profile"><i class="fa fa-users"></i>Company Profile</a></li>
                        {{!-- <li><a href="message.html"><i class="fa fa-envelope-open"></i>messages</a></li> --}}
                        <li class="active"><a href="/employer/postjob"><i class="fa fa-envelope-open"></i>post a jobs</a></li>
                        <li><a href="/employer/managejob"><i class="fa fa-briefcase"></i>manage job</a></li>
                        {{!-- <li><a href="transaction.html"><i class="fa fa-rocket"></i>transaction</a></li>
                        <li><a href="change-password.html"><i class="fa fa-lock"></i>change password</a></li> --}}
                        <li><a href="#"><i class="fa fa-power-off"></i>LogOut</a></li>
                     </ul>
                  </div>
               </div>


               <div class="col-md-8 col-lg-9 mx-auto">
                  <div class="dashboard-right">
                     <div class="earnings-page-box manage-jobs">
                        <div class="manage-jobs-heading">
                           <h3>Post A new job</h3>
                        </div>

                        <div class="new-job-submission">

{{!-- 
                           <form action="/employer/postjob" method="POST" enctype="multipart/form-data">
                              <input type="text" name="data">
                              <input type="file" name="jobfile">
                              <button type="submit" >submit</button>
                           </form> --}}


                           {{!-- <form action="/employer/postjob" method="POST" enctype="multipart/form-data"> --}}
                           <form action="/employer/postjob" method="POST" enctype="multipart/form-data">
                              <div class="resume-box" >
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input" style="display:none;">
                                       <label for="j_title">Company Name</label>
                                       <input type="text" name="companyname" value="{{empprofile.employerName}}" readonly placeholder="company name" id="j_title">
                                    </div>
                                    <div class="single-input">
                                       <label for="j_title">Job Title:</label>
                                       <input type="text" name="jobTitle" placeholder="Job title" required id="j_title">
                                    </div>
                                    <div class="single-input">
                                       <label for="Location">Location:</label>
                                       <input type="text" name="Location" placeholder="e.g. London" required id="Location">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="j_reg">Job Region:</label>
                                       <select id="j_reg" name="region" required >
                                          <option value=''>Select Region</option>
                                          <option value="Ernakulam">Ernakulam</option>
                                          <option value="Kozhikode">Kozhikode</option>
                                          <option value="Trivandrum">Trivandrum</option>
                                          <option value="Kannur">Kannur</option>
                                       </select>
                                    </div>
                                    <div class="single-input">
                                       <label for="j_type">Job Type:</label>
                                       <select id="j_type" name="jobtype" required>
                                          <option value=''>Select Region</option>
                                          <option value="FullTIme">Full TIme</option>
                                          <option value="Freelance">Freelance</option>
                                          <option value="PartTime">Part Time</option>
                                          <option value="Internship">Internship</option>
                                           <option value="Temporary">Temporary</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="j_category">Job Category:</label>
                                       <select id="j_category" name="category" required>
                                          <option value="">Select</option>
                                          <option value="Finance">Accounting / Finance</option>
                                          <option value="Automotive">Automotive Jobs</option>
                                          <option value="Construction">Construction / Facilities</option>
                                          <option value="Design">Design,& Multimedia</option>
                                          <option value="Art">Art</option>
                                          <option value="Animation">Animation</option>
                                          <option value="GraphicDesign">Graphic Design</option>
                                          <option value="Illustration">Illustration</option>
                                          <option value="Mechanic">Mechanic</option>
                                          <option value="Photograhy">Photograhy</option>
                                          <option value="Education">Education Training</option>
                                          <option value="Healthcare">Healthcare</option>
                                          <option value="Restaurant">Restaurant / Food Service</option>
                                          <option value="Sales">Sales / Marketing</option>
                                          <option value="Advertising">Display Advertising</option>
                                          <option value="IT">IT</option>
                                          <option value="Engineering">Engineering</option>
                                       </select>
                                    </div>
                                    <div class="single-input">
                                       <label for="External">Qualification<span>(optional)</span></label>
                                       <input type="text" name="Qualification" placeholder="Required Qualification" id="External">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">


                                    {{!-- <div class="single-input">
                                       <label for="mn_salary">Min Experiance Needed</label>
                                       <input type="text" name="Experiance" placeholder="0-1" id="mn_experiance">
                                    </div> --}}

                                   <div class="single-input">
                                       <label for="mn_salary">Min Experiance Needed</label>
                                       {{!-- <label for="mn_salary">Minimum Salary</label> --}}
                                       <select id="j_category" name="Experiance" required>
                                          <option value="">Select</option>
                                          <option value="0-1">0-1</option>
                                          <option value="1-2">1-2</option>
                                          <option value="2-3">2-3</option>
                                          <option value="3-4">3-4</option>
                                          <option value="4-5">4-5</option>
                                          <option value="5-6">5-6</option>
                                          <option value="6-7">6-7</option>
                                          <option value="7-8">7-8</option>
                                          <option value="8-9">8-9</option>
                                          <option value="9-10">9-10</option>
                                          <option value="10-11">above 10</option>
                                       </select>
                                    </div>

                                    <div class="single-input">
                                       <label for="mx_salary">Required Skills</label>
                                       <input type="text" name="skills" placeholder="skills" required id="jobskills">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild feild-flex-2">
                                    <div class="single-input">
                                       <label for="mn_salary">Minimum Salary</label>
                                       <input type="number" name="minSalary" placeholder="e.g. 20000" required id="mn_salary">
                                    </div>


                                    <div class="single-input">
                                       <label for="mx_salary">Maximum Salary</label>
                                       <input type="number" name="maxSalary" placeholder="e.g. 50000" id="mx_salary">
                                    </div>
                                 </div>
                                 <div class="single-resume-feild">
                                    <div class="single-input">
                                       <label for="j_desc">Job Description:</label>
                                       <textarea name="jobDescription" required id="j_desc"></textarea>
                                    </div>
                                 </div>
                                 <div class="single-resume-feild upload_file">
                                    <div class="product-upload">
                                       <p>
                                          <i class="fa fa-upload"></i>
                                          Upload Files
                                       </p>
                                       <input type="file" name="jobfile" id="w_screen" accept="application/pdf" >
                                    </div>
                                    <p>pdf documents that might be helpful in describing your job</p>
                                 </div>
                              </div>
                              <div class="single-input submit-resume">
                                 <button type="submit">Post Job</button>
                              </div>
                           </form>



                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Candidate Dashboard Area End -->


             <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="sweetalert2/dist/sweetalert2.min.js"></script>
      <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css">


      <script>

         var myfile="";

         $('#w_screen').on( 'change', function() {
            myfile= $( this ).val();
            var ext = myfile.split('.').pop();
            if(ext=="pdf"){
               Swal.fire('pdf file selected');
            } else{
               document.getElementById('w_screen').value= null
               Swal.fire('Please select pdf file');
            }
         });

      </script>
       
       

       
       
      <!--Jquery js-->
      <script src="assets/js/jquery-3.6.0.min.js"></script>
      <!--Bootstrap js-->
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <!--Bootstrap Datepicker js-->
      <script src="assets/js/bootstrap-datepicker.min.js"></script>
      <!--Perfect Scrollbar js-->
      <script src="assets/js/jquery-perfect-scrollbar.min.js"></script>
      <!--Owl-Carousel js-->
      <script src="assets/js/owl.carousel.min.js"></script>
      <!--SlickNav js-->
      <script src="assets/js/jquery.slicknav.min.js"></script>
      <!--Magnific js-->
      <script src="assets/js/jquery.magnific-popup.min.js"></script>
      <!--Select2 js-->
      <script src="assets/js/select2.min.js"></script>
      <!--jquery-ui js-->
      <script src="assets/js/jquery-ui.min.js"></script>
      <!--Custom-Scrollbar js-->
      <script src="assets/js/custom-scrollbar.js"></script>
      <!--Jarallax js-->
      <script src="assets/js/jarallax.min.js"></script>
      <script src="assets/js/jarallax-video.min.js"></script>
      <!--Main js-->
      <script src="assets/js/main.js"></script>
   </body>



<!-- Mirrored from themescare.com/demos/jobguru-version-2/post-job.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Jul 2021 07:35:07 GMT -->
</html>

